@font-face {
    font-family: 'Aleo';
    src: url(../fonts/Aleo-Regular.otf);
    src: url(../fonts/Aleo-Regular1.woff);
}
@media screen and (max-width: 800px) {
    #menu {
        display: none;
    }
    #mobile-nav {
        display: block !important;
    }
}
@media screen and (max-width: 768px) {
    .button-title {
        display: none;
    }
}

@mixin placeholder-style {
    color: #999999;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2.8px;
    text-align: center;
}

@mixin button-style {
    z-index: 99;
        background-image: url(../img/Rectangle_8.png);
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        height: 60px;
        background-color: rgba(84, 116, 253, 1);
        &:hover {
            opacity: 0.9;
        }
}

.header {
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 740px;
    .header-title {
        padding-top: 265px;
        padding-bottom: 15px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4.8px;
    }

    .header-description {
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 6.82px;
        padding-bottom:  50px;
        
    }

    .input-field {
        height: 60px;

        & ::placeholder {
            @include placeholder-style;
        }
        & :-ms-input-placeholder {
            @include placeholder-style;
        }

        .header-input {
            padding-left: 20px !important;
            box-sizing: border-box;
            border: 0;
        }

        .header-button {
            line-height: 55px;
            height: 60px;
            width: 100%;
            border: 2px solid #ffffff;
            background-color: #5474fd;
            color: #ffffff;
            font-family: 'Aleo';
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            text-align: center;
            &:hover {
                background-color: #2840DA;  
            }
        }  
    }
    .srcoll-title {
        padding-top: 120px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 2.8px;
    }
    
    .scroll-icon {
        color: white;
    }

    #scroll-icon {
        background: none;
        border: none;
        outline: none;
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            color: #2840DA;
        }
    }
}


.navigation-menu {
    background-color: #5474fd;
    .row {
        min-height: 80px;
        .logo__text {
            color: #ffffff;
            font-family: 'Josefin San', sans-serif;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2.4px;
        }  
        .navigation-item {
            line-height: 80px;
            color: #ffffff;
            font-family: 'Aleo';
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                color: #2840DA;
            }   
        }
        .mobile-nav {
            display: none;
            text-decoration: none;
            font-size: 32px;
            .icon {
                color: white !important;
            }
        }
    }

    .mobile-menu {
        display: none;
        .navigation-item {
            color: #ffffff;
            font-family: 'Aleo';
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            text-align: right;
            padding: 10px 0 10px;

            &:hover {
                color: #2840DA;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #image-one {
        padding-top: 90px ;
        padding-left: 0;
    }
}

.advertising {
    background-image: url(../img/advertising_bg.png);
    min-height: 685px;
    .advertising-title {
        padding: 204px 0 62px;
        color: #ffffff;
        font-family: 'Aleo';
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
    }
    .advertising-text {
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.6px;
        text-align: justify;
        padding-bottom: 48px ;
    }
    .arvertising-button {
        @include button-style;
    
        a {
            align-self: center;
            text-decoration: none;
            color: #ffffff;
            font-family: 'Aleo';
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            text-transform: uppercase;
            letter-spacing: 1.2px; 
        }
    }
    .advertising-images {
        min-height:685px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .image-one {
            padding-left: 65px;
        }
        .image-two {
            align-self: flex-end;
        }
    }
}

@media screen and (max-width: 576px) {
    .advertising-images {
        justify-content: space-around !important;
    }
    #image-one {
        padding-left: 0;
        align-self: center;
    }
    #image-two {
        align-self: center;
    }
}

.action {
    min-height: 337px;
    background-color: #333333;
    position: relative;
    .item {
        padding-top: 110px;
        .action-icon {
            text-align: center;
        }
        .action-title {
            color: #e8e8e8;
            font-family: 'Aleo';
            font-size: 36px;
            font-weight: 400;
            line-height: 36px;
            &:hover {
                color: #5474fd;
            }    
        }
    }
    .action-arrow-left {
        position: absolute;
        z-index: 1;
        width: 29%;
        top: 14%;
        left: 22%;
        height: 103px;
        border: 2px dotted #ffffff;
        border-color: #ffffff transparent transparent transparent;
        border-radius: 50%/100px 100px 0 0;
        opacity: 0.5;
    }
    .action-arrow-right {
        position: absolute;
        z-index: 1;
        width: 29%;
        top: 14%;
        right: 22%;
        height: 103px;
        border: 2px dotted #ffffff;
        border-color: #ffffff transparent transparent transparent;
        border-radius: 50%/100px 100px 0 0;
        opacity: 0.5;
    }
}
@media screen and (max-width: 768px) {
    #action-arrow-left {
        display: none;
    }
    #action-arrow-right {
        display: none;
    }
    .action-three {
        padding-bottom: 60px;
    }
}

.booking-one {
    background-image: url(../img/booking1_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.booking-two {
    background-image: url(../img/booking2_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.booking {
    min-height: 700px;
    padding-top: 229px;
    .booking-description {
        min-height: 371px;
        background-color: rgba(35, 35, 35, 0.9);
        padding-top: 50px;
        .country-name {
            color: #e8e8e8;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 1.5px;
            padding-left: 30px;
            
        }
        .hotel-name {
            padding: 30px;
            color: #ffffff;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
        }
        .hotel-description {
            padding: 0 30px 48px;
            color: #e8e8e8;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
        .book {
            margin-left: 30px;
            width: 40%;
            @include button-style;
            a {
                align-self: center;
                text-decoration: none;
                color: #ffffff;
                font-family: 'Aleo';
                font-size: 16px;
                font-weight: 400;
                line-height: 16px;
                text-transform: uppercase;
                letter-spacing: 1.2px;
            }
        }
    }
}

.testimonial {
    background-image: url(../img/testimonial_bg.png);
    background-repeat: no-repeat;
    min-height: 730px;
    .testimonial-name {
        padding-top: 120px;
        padding-bottom: 94px;
        color: #ffffff;
        font-family: 'Aleo';
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
    }
    .testimonial-image {
        img {
        width: 100%;
        }
    }
    .testimonial-text {
        background-color: #333333;
        .testimonial-title {
            padding: 50px 60px 33px;
            color: #fefefe;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-transform: uppercase;
        }
        .testimonial-quote {
            padding-left: 60px ;
            padding-right: 54px ;
            .quote-text {
                color: #e8e8e8;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                .quote-sign{
                    color: #5474fd;               
                    position: relative;
                    float: left;
                    top: -2.5em;
                    margin: 30px 10px -3em 0;
                } 
            }
            
        }
    }
}

@media screen and (max-width: 1200px) {
    #testimonial {
        background-image: url(../img/testimonial_sm_bg.png);
        background-position: cover;
    }
    .quote-text {
        padding-bottom: 40px;
    }
}

.footer { 
    min-height: 268px;
    background-color: #232323;
    .footer-title {
        padding-top: 120px;
        padding-bottom: 15px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 3.36px;
    }
    .footer-description {
        padding-bottom: 30px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 1.6px;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        width: 170px;
       .footer-icon {
        color: #e8e8e8;
        font-size: 16px;
        font-weight: 400;
            &:hover {
                color: #5474fd;
            }
        }
    }  
}
